body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-weight: bold;
  padding: 0px;
  margin-top: 15px;
}

input {
  padding: 10px;
}

button {
  border-style: none;
  background-color: #85cb33ff;
  padding: 15px 20px;
  margin: 10px;
  color: white;
  border-radius: 10px;
}

.container {
  padding: 10px;
  color: white;
}

.submitButton {
  border-style: none;
  background-color: #85cb33ff;
  padding: 15px 20px;
  margin: 10px;
  color: white;
  border-radius: 10px;
}



/* CSS HEX */
/*
smoky-black: #100b00ff;
yellow-green: #85cb33ff;
nyanza: #efffc8ff;
opal: #a5cbc3ff;
olive-drab-7: #3b341fff;
*/